# Data — only commit static info
*.db
*.csv
!data/gtfs-static/
!data/gtfs-static/*.txt

# Python
__pycache__/
*.pyc
*.pyo
.env
.venv/
*.egg-info/
dist/
build/

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

.wrangler