name: Deploy Dashboard to HF Space

on:
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Merge the YAML metadata with the README
      - name: Prepare README for Hugging Face
        run: |
          cat hf_space_metadata.yml > hf_readme.md
          echo "" >> hf_readme.md
          cat README.md >> hf_readme.md
          mv hf_readme.md README.md
          
      - name: Ignore DB files for HF push
        run: |
          # Stop tracking the DB file in this temporary Git index
          git rm --cached data/tus.db || true
          
          # Add rule to ignore DB files on HF
          echo "*.db" >> .gitignore
          echo "data/tus.db" >> .gitignore
      # Push master branch to Hugging Face's main branch
      - name: Push to Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "GitHub Actions"
          git add README.md
          git commit -m "Merge HF metadata into README" || echo "No changes to commit"
          # Push local 'master' to remote 'main' on HF
          git push -f https://pmatorras:$HF_TOKEN@huggingface.co/spaces/pmatorras/pulsetransit master:main
