name: Deploy Dashboard to HF Space

# This single line is what creates the "Run workflow" button in GitHub
on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Sync with Hugging Face Space
        uses: alex-bene/huggingface-space-sync-action@v0.1
        with:
          github_repo_id: 'pmatorras/pulsetransit'
          github_branch: 'master'
          yaml_header_path: 'hf_space_metadata.yml'
          huggingface_repo_id: 'pmatorras/pulsetransit' 
          hf_username: 'pmatorras' 
          hf_token: ${{ secrets.HF_TOKEN }}
